# Python cache
__pycache__/
*.pyc
*.pyo

# Logs and temp files
*.log
*.tmp

# Model weights
*.pth
*.pt

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/

# Research paper
paper/

# PDFs
*.pdf

# Results and weights folders
results/
weights/

# Frontend (empty)
frontend/

# Dataset files (too large for GitHub)
HAM10000_images_part_1/
HAM10000_images_part_2/
HAM10000_metadata.csv
hmnist_*.csv
*.csv

# IDE
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Ignore report folder
project-report/

app1.py
appp.py